<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="title">Práctica con Angular</h1>

  <div class="container">

    <div>
    </div>      
      <button class="button"><a routerLink="persona" class="link">Personas</a></button>
    <div>    
      <button class="button"><a routerLink="gasto" class="link">Citas</a></button>
    </div>
  </div>

  <hr class="separator">
  <!-- <app-datos> </app-datos> -->

  <router-outlet></router-outlet>
</body>
</html>